body {
  background-color: rgb(216, 216, 216);
  font-family: Arial, sans-serif;
  color: rgb(36, 33, 33);
}

.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

button {
  padding: 5px;
  color: black;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}

input {
  padding: 5px;
  color: black;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}

.result-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  flex-direction: column;
  text-align: left;
}

.date-container {
  display: flex;
  flex-direction: row;
}

p:nth-child(2) {
  font-weight: 700;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #595f63;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: none; /* Initially hidden */
  position: absolute;
  /* left: 50%;
  top: 50%; */
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
